/*
  Theme Name:   Modern Coding
  Description:  Modern Coding Theme
  Author:       Cormorant Programming
  Version:      0.0.0
*/


@font-face {
  font-family: "my-font";
  src: url("./PatrickHandSC-Regular.ttf");
}


body {
  font-family: my-font;
  font-size: 19px;
  background-color: #000;
  color: #fff;
}


#banner > img { max-width: 100%; }

main, header { padding: 19px; }

main {
  background-image: url(img/ModernCoding-Background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.d-flex .btn, .d-flex button { margin: 4px; }

p { text-align: justify; }

img { max-width: 100%; }

div[data-target="post.detail"] { padding-bottom: 40px; }