$my-font: "my-font"
$my-default-font-size: 19px

@font-face
  font-family: "my-font"
  src: url('../fonts/PatrickHandSC-Regular.ttf')

  
html
  margin: 0 !important

  body
    background-image: url("../img/clue_system_background.jpg")
    background-size: cover
    background-repeat: no-repeat
    background-color: #000
    color: #fff
    font-family: $my-font
    font-size: $my-default-font-size

    > section

      > div.row

        aside

          .my-aside-button
            padding: 4px

            a.btn
              width: 100%


        main > header
            padding-bottom: 19px

        aside, main
          padding: 19px


img
  max-width: 100%

#my-logo > img
  width: 100%
  max-width: 180px
  content: url("../img/clue_system.png")

@media screen and (min-width: 768px)
  #my-logo > img
    max-width: 100%


main, aside
  padding: 19px


.d-flex .btn, .d-flex button
  margin: 4px

p
  text-align: justify


div[data-target="post.detail"]
  padding-bottom: 40px